.blogContainers {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 1500px;
    margin: 0 auto;
    padding-left: clamp(0.75rem , 5vw , 2.8125rem);
	padding-right: clamp(0.75rem , 5vw , 2.8125rem);

    @media screen and (min-width:768px){
        display: grid;
        grid-template-columns:1fr 1fr ;
    }

    @media screen and (min-width:1024px){
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.blogContainer {
   
    &--first {

    }

    &--second {
        
    }

    &--third {
        
    }
}

.blogContainerLink {
    display: flex;
    flex-direction: column;
    gap: .5rem;

    &__day {
        font-weight: 600;
    }

}