@use "variables";
@use "general";

.footer {
    background-color: var(--color-footer);
    padding-top: 200px;
    z-index: -1;
}

.footerContainer {
    display: flex;
    flex-direction: column;
    gap: 3.125rem;
} 

.footerInformation {
    display: flex;
    flex-direction: column;
    gap: 3.125rem;
    padding-left: clamp(0.75rem, 5vw, 2.8125rem);
    padding-right: clamp(0.75rem, 5vw, 2.8125rem);
    @media screen and (min-width:1024px){
        display: grid;
        grid-template-columns: .5fr .5fr;
        flex-direction: row;
        padding-top: clamp(1rem , 5vw , 5rem);
        padding-bottom: clamp(1rem , 5vw , 5rem);
    }

    &__img {
        width: 80%;
        max-width: 500px;
        margin: 0 auto;
    }
}

.footerInformationContent {
    display: grid;
    gap: 2rem;

    // @media screen and (min-width:1440px){
        // gap: 0;
    // } 
}

.footerContent {
    position: relative;
    text-align: center;
    padding: 25px 0;
    &::after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: var(--color-title);
    }
    @media screen and (min-width:1024px){
        display: grid;
        grid-template-columns: .5fr .5fr;
        justify-content: space-evenly ;
        align-items: center;
        padding-left: clamp(0.75rem, 5vw, 2.8125rem);
        padding-right: clamp(0.75rem, 5vw, 2.8125rem);
    }
   
}

.footerContentCopyright{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    @media screen and (min-width:1024px){
        text-align: left;
    } 
}

.footerInformationPlaceAndDays {
    display: none;
    @media screen and (min-width:1024px){
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .footerInformationPlace {
        display: flex;
        gap: 1rem;
        &__span {
            font-weight: 800;
        }
        @media screen and (min-width:1024px){
            display: flex;
            align-items: center;
        }
    }
    
    .footerInformationDays {
        display: flex;
        gap: 1rem;
        &__span {
            font-weight: 800;
        }
        @media screen and (min-width:1024px){
            display: flex;
            align-items: center;
        }
    }
}

.footerInformationSocialMedia {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: clamp(15px , 5vw , 50px);
    text-align: center;

    @media screen and (min-width:1024px){
        justify-content: initial;
    }
}

.footerInformationSocialMediaContainer__img {
    margin: 0 auto;
    padding-bottom: clamp(5px , 10vw , 10px);
    width: clamp(35px , 10vw , 40px);
}

.footerContentCopyrightLink {
    font-weight: 800;
}

.footerContentNav {
    display: none;
    @media screen and (min-width:1024px){
        display: block;
    }
}

.footerContentNavList {
    margin: 0;
    display: flex;
    gap: 15px;
    list-style: none;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 13px;
}