@use "variables";
@use "general";

.footer {
    background-color: var(--color-footer);
    padding-top: 200px;
    z-index: -1;
}

.footerContainer {
    display: flex;
    flex-direction: column;
    gap: 3.125rem;
} 

.footerInformation {
    display: flex;
    flex-direction: column;
    gap: 3.125rem;
    padding-left: clamp(0.75rem, 5vw, 2.8125rem);
    padding-right: clamp(0.75rem, 5vw, 2.8125rem);
    @media screen and (min-width:1024px){
        display: grid;
        grid-template-columns: .5fr .5fr;
        flex-direction: row;
    }

    &__img {
        width: 80%;
        margin: 0 auto;
    }

    &Content {
        @media screen and (min-width:1024px){
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: start;
        }
    }
}

.footerContent {
    position: relative;
    &::after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: var(--color-title);
    }
}


.footerInformationPlaceAndDays {
    display: none;
    @media screen and (min-width:1024px){
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .footerInformationPlace {
        &__span {
            font-weight: 600;
        }
        @media screen and (min-width:1024px){
            display: flex;
            align-items: center;
        }
    }
    
    .footerInformationDays {
        &__span {
            font-weight: 600;
        }
        @media screen and (min-width:1024px){
            display: flex;
            align-items: center;
        }
    }
}

.footerInformationSocialMedia {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: clamp(15px , 5vw , 50px);
    text-align: center;
}

.footerInformationSocialMediaContainer__img {
    margin: 0 auto;
    padding-bottom: clamp(5px , 10vw , 10px);
    width: clamp(35px , 10vw , 40px);
}

.footerContent {
    text-align: center;
    padding: 25px 0;
}

.footerContentNav {
    display: none;
}
