@use "variables";
@use "general";
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // background-color: red;
    &__logo {
        width: 100px;
    }

    &__img {
        // width: 20%;
    }
}

.hamburger {
    &__img {
        background-color: blue;
        width: 50px;
    }
}

.menuOpen {
    display: none;
}

.nav {
    display: none;
    background-color: green;
   
}

.navContainer__link {
    display: none;
}

.navContainer__DarkMode {
    display: none;
}