@use "variables";
@use "general";
.header {
    display: flex;
    // flex-direction: column;
    // background-color: red;
//     &__logo {

//     }

//     &__img {
        
//     }
}

.hamburger {
    &__img {
        background-color: blue;
    }
}

.menuOpen {
    display: none;
}

.nav {
    display: none;
    background-color: green;
   
}

.navContainer__link {
    display: none;
}