:root {
/*  Colors    */

    --color-bg: #F5F5F5;
    --color-nav: #FFFFFF;
    --color-red: #E20714;
    --color-title: #1D1D1B;
    --color-paragraph: #3F3F3F;

/*  Font-Family */

    --ff-title: 'Lilita One', cursive;
    --ff-paragraph: 'Nunito', sans-serif;
    
} 