@use "variables";
@use "general";
@use "header";
@use "blog";
@use "aside";
@use "footer";

.main {
    margin-top: 100px;
}

.hero , .about , .quotes , .information , .contact , .aside{
    display: none;
}

.footer {
    display: none;
}