doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="/src/css/normalize.css")
        link(rel="stylesheet", href="/src/css/aside.css")
    body

    aside.asideContainer 
        h3.asidetitle ¿Quieres Donar?
        p.asideparagraph.paragraph Quieres ayudar a Rock & Vida a seguir luchando contra la adicción etc...
        a(href="#").asidelink  Click aquí
        