.blogContainer.blogContainer--first
    a.blogContainerLink(href="#")
        img.blogContainer__img(src="", alt="")
        span.blogContainer__day 18/12/2022
        p.blogContainer__text Argentina campeona del mundo...
.blogContainer.blogContainer--second
    a.blogContainerLink(href="#")
        img.blogContainer__img(src="", alt="")
        span.blogContainer__day 18/12/2022
        p.blogContainer__text Argentina campeona del mundo...
.blogContainer.blogContainer--third
    a.blogContainerLink(href="#")
        img.blogContainer__img(src="", alt="")
        span.blogContainer__day 18/12/2022
        p.blogContainer__text Argentina campeona del mundo...