.blog
    h1.blog__title.title NUESTRO BLOG 
    .blog--first
        a.blog__link(href="") 
            img.blog__img(src=" ", alt="")
            h4.blog__subtitle.subtitle TITULO
            p.blog__paragraph.paragraph Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
    .blog--second
        a.blog__link(href="") 
            img.blog__img(src="", alt="")
            h4.blog__subtitle.subtitle TITULO
            p.blog__paragraph.paragraph Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
    .blog--third
        a.blog__link(href="") 
            img.blog__img(src="", alt="")
            h4.blog__subtitle.subtitle TITULO
            p.blog__paragraph.paragraph Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
    .blog--fourth
        a.blog__link(href="") 
            img.blog__img(src="", alt="")
            h4.blog__subtitle.subtitle TITULO
            p.blog__paragraph.paragraph Lorem ipsum, dolor sit amet consectetur adipisicing elit.
    .blog__nextpage 
        p.blog__nextpage__paragraph.paragraph Página 
            a.blog__nextpage__link(href="./page1.html") 1 
            a.blog__nextpage__link(href="./page2.html") 2 
            a.blog__nextpage__link(href="./page3.html") 3 
