a.header__logo
    img.header__img(src="", alt="")

.navContainer
    a.hamburger(href=""): img.hamburger__img(src="", alt="")
    .menuOpen
        ul.menuOpenList
            li.menuOpenList__item: a.menuOpenList__link(href="#") Sobre Nosotros
            li.menuOpenList__item: a.menuOpenList__link(href="#") Que Hacemos
            li.menuOpenList__item: a.menuOpenList__link(href="#") Areas
            li.menuOpenList__item: a.menuOpenList__link(href="#") Blog
            li.menuOpenList__item: a.menuOpenList__link(href="#") Contacto
            li.menuOpenList__item: a.menuOpenList__link(href="#") Donación
        a.menuOpenDarkMode(href="")
            span.menuOpenDarkMode__span Modo Claro
            img.menuOpenDarkMode__img(src="", alt="")
    nav.nav
        ul.navList
            li.navList__item: a.navList__link(href="#") Sobre Nosotros
            li.navList__item: a.navList__link(href="#")  Que Hacemos
            li.navList__item: a.navList__link(href="#") Areas
            li.navList__item: a.navList__link(href="#") Blog
            li.navList__item: a.navList__link(href="#") Contacto
    a.navContainer__link(href="#") Donación
    img.navContainer__DarkMode(src="", alt="")            