div.herosections__container
    h1.herosections__title ACERCA DE NOSOTROS 
        p.herosections__paragraph.paragraph Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, laborum architecto mollitia porro illo natus sequi nam eligendi placeat quasi velit doloribus aspernatur voluptatem id ducimus non dolor quidem. Hic?
        p.herosections__paragraph.paragraph Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, laborum architecto mollitia porro illo natus sequi nam eligendi placeat quasi velit doloribus aspernatur voluptatem id ducimus non dolor quidem. Hic?
        p.herosections__paragraph.paragraph Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, laborum architecto mollitia porro illo natus sequi nam eligendi placeat quasi velit doloribus aspernatur voluptatem id ducimus non dolor quidem. Hic?