.blogContainer.blogContainer--first
    mixin blogContainerContent
        a.blogContainerLink(href="#")
            img.blogContainer__img(src="", alt="")
            span.blogContainer__day 18/12/2022
            p.blogContainer__text Argentina campeona del mundo...
    +blogContainerContent
.blogContainer.blogContainer--second
    +blogContainerContent
.blogContainer.blogContainer--third
    +blogContainerContent