.footerContainer
    .footerInformation
        img.footerInformation__img(src="./src/images/icons/logo-vertical.svg", alt="Logo RockAndVida")
        .footerInformationContent
            .footerInformationPlaceAndDays
                .footerInformationPlace
                    span.footerInformationPlace__span Dirección:
                    p.footerInformationPlace__paragraph C/Leonor de Cortinas 25, Arganda del Rey 28500, Madrid
                .footerInformationDays
                    span.footerInformationDays__span Horario:
                    p.footerInformationDays__paragraph 8:00h - 14:00h    
            .footerInformationSocialMedia
                a.footerInformationSocialMediaContainer.footerInformationSocialMediaContainer--facebook(href="#")
                    img.footerInformationSocialMediaContainer__img(src="./src/images/icons/logo-facebook.svg", alt="Facebook Logo")
                    span.footerInformationSocialMediaContainer__span Facebook
                a.footerInformationSocialMediaContainer.footerInformationSocialMediaContainer--gmail(href="")
                    img.footerInformationSocialMediaContainer__img(src="./src/images/icons/logo-gmail.svg", alt="Gmail Logo")
                    span.footerInformationSocialMediaContainer__span Gmail
                a.footerInformationSocialMediaContainer.footerInformationSocialMediaContainer--whatsapp(href="")
                    img.footerInformationSocialMediaContainer__img(src="./src/images/icons/logo-whatsapp.svg", alt="Whatsapp Logo")
                    span.footerInformationSocialMediaContainer__span Whatsapp
                a.footerInformationSocialMediaContainer.footerInformationSocialMediaContainer--instagram(href="")
                    img.footerInformationSocialMediaContainer__img(src="./src/images/icons/logo-instagram.svg", alt="Instagram Logo")
                    span.footerInformationSocialMediaContainer__span Instagram           
    .footerContent
        .footerContentCopyright
            span.footerContentCopyright__span Rock And Vida 2023. All Right Reserved
            span.footerContentCopyright__span Página hecha por 
            a.footerContentCopyrightLink(href="#") Joaquín García
            | y 
            |
            a.footerContentCopyrightLink(href="#") Miguel Angel Cantos
            |
            | .
        nav.footerContentNav
            ul.footerContentNavList
                li.footerContentNavList__item: a.footerContentNavList__link(href="./src/html/about.html") Quienes Somos
                li.footerContentNavList__item: a.footerContentNavList__link(href="./src/html/areas.html") Areas de Desarrollo
                li.footerContentNavList__item: a.footerContentNavList__link(href="./src/html/blog.html") Blog
                li.footerContentNavList__item: a.footerContentNavList__link(href="#contact") Contacto
                li.footerContentNavList__item: a.footerContentNavList__link(href="./src/html/donation.html") Donación
        