a.header__logo(href="#body")
    img.header__img(src="./src/images/icons/logo-vertical.svg", alt="Logo RockAndVida")

.navContainer
    a.hamburger(href="#"): img.hamburger__img(src="./src/images/icons/logo-hamburger.svg", alt="Hamburger Logo")
    .menuOpen
        ul.menuOpenList
            li.menuOpenList__item: a.menuOpenList__link(href="./src/html/about.html") Quienes Somos
            li.menuOpenList__item: a.menuOpenList__link(href="./src/html/areas.html") Areas
            li.menuOpenList__item: a.menuOpenList__link(href="./src/html/blog.html") Blog
            li.menuOpenList__item: a.menuOpenList__link(href="#contact") Contacto
            li.menuOpenList__item: a.menuOpenList__link(href="./src/html/donation.html") Donación
        a.menuOpenDarkMode(href="")
            span.menuOpenDarkMode__span Modo Claro
            img.menuOpenDarkMode__img(src="./src/images/icons/logo-darkmode.svg", alt="DarkMode Logo")
    nav.nav
        ul.navList
            li.navList__item: a.navList__link(href="./src/html/about.html") Quienes Somos
            li.navList__item: a.navList__link(href="./src/html/areas.html") Areas
            li.navList__item: a.navList__link(href="./src/html/blog.html") Blog
            li.navList__item: a.navList__link(href="#contact") Contacto
    a.navContainer__link(href="./src/html/donation.html") Donación
    img.navContainer__DarkMode(src="./src/images/icons/logo-darkmode.svg", alt="DarkMode Logo")